@page
@model RalphCMS.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Page.Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Page.Index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Page.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Page.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Page.Title">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
