@page
@model RalphCMS.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Page[0].Title)
            </th>
            <th>
                Menu
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Page) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <form method="post" class="btn-group-sm d-sm-inline-block p-0 m-0">
                    <button type="submit" asp-page-handler="ToggleIsInNavMenu" asp-route-index="@item.Index" class="btn-info btn-block py-0">@(item.IsInNavMenu ? "Remove" : "Add")</button>
                </form>
            </td>
            <td>
                <form method="post" class="btn-group-sm d-sm-inline-block p-0 m-0">
                    <button type="submit" asp-page-handler="PageSectionUpButton" asp-route-index="@item.Index" class="btn btn-block py-0">▲</button>
                    <button type="submit" asp-page-handler="PageSectionDownButton" asp-route-index="@item.Index" class="btn btn-block py-0 m-0">▼</button>
                </form> |
                <a asp-page="./Edit" asp-route-id="@item.Title">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Title">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
