@page
@model RalphCMS.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Page[0].Title)
            </th>
            <th>
                In Menu
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Page) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsInNavMenu)

            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Title">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Title">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
